.Cards {
  height: 100vh;

  .cards-list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .wrap {
    position: relative;
  }

  .card {
    flex: 1 0 100vw;
    background: white;
    padding: 2rem;
    display: grid;
    place-items: center;

    .card-inner {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
    }

    .year {
      font: italic 700 6rem/1.2 $heading-font;
      margin-bottom: 0.1em;

      @include md {
        font-size: 12rem;
      }
    }

    .content {
      font: 400 1.5rem/1.5 $heading-font;

      @include lg {
        font-size: 2rem;
      }
    }

    &:nth-child(4n + 1) {
      background: #cdd7f4;
      color: #122454;
    }
    &:nth-child(4n + 2) {
      background: #bbddd2;
      color: #1b362e;
    }
    &:nth-child(4n + 3) {
      background: #fde7c4;
      color: #8a5705;
    }
    &:nth-child(4n + 4) {
      background: #ffd6e7;
      color: #a30041;
    }
  }
}
