.Frame-slider {
  height: 100vh;
  background: white;
  display: grid;
  place-items: center;
  width: 100%;

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 0;
  }

  img {
    pointer-events: none;
  }

  .frame-container {
    position: relative;
    max-width: 100%;
    width: 350px;

    @include sm {
      width: 500px;
    }

    @include md {
      max-width: 500px;
      width: 100%;
    }

    .image-container {
      position: absolute;
      inset: 0;
      top: 14%;
      left: 18%;
      width: 65%;
      padding-top: 91.6%;

      .slides-wrapper {
        overscroll-behavior: none;
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
      }

      .slide {
        position: relative;
        min-width: 100%;
        padding-right: 100%;
      }
    }
  }

  .images-info {
    // display: none;
    display: flex;
    align-self: flex-start;
    // flex-wrap: nowrap;
    // overflow: visible;

    @include md {
      display: flex;
    }

    .slide-image-info {
      text-align: center;
      // min-width: 100%;
      flex: 1 0 100vw;
      padding: 0 24px;

      .name {
        font: 500 1rem/1.5 $heading-font;
        letter-spacing: -0.03em;

        @include sm {
          font-size: 2rem;
        }
      }

      .date {
        font: 400 1rem/1 $heading-font;
        color: rgba(0, 0, 0, 0.7);

        @include sm {
          font-size: 1.25rem;
        }
      }
    }
  }
}