.Text-banner {
  .grid {
    height: 200vh;
    position: relative;

    .full-image {
      position: absolute;
      grid-area: stack;
      width: 100%;
      height: 200vh;
      object-fit: cover;
    }

    .text-rows {
      overflow: hidden;
      grid-area: stack;
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      align-items: center;
      // position: sticky;
      // top: 0;

      .text-row {
        display: flex;

        &--one,
        &--three {
          transform: translate(calc(-100% + 100vw), 0);
        }

        &--two {
          // transform: translate(calc(0% + 100vw), 0);
          // transform: translate(calc(-100% + 100vw), 0);
          transform: translate(0);
        }

        .text {
          align-self: center;
          text-transform: uppercase;
          font: 400 8rem/1 $heading-font;
          white-space: nowrap;
          letter-spacing: -0.01em;
          color: transparentize($color: #fff, $amount: 0.2);

          @include md {
            font-size: 12rem;
          }
        }
      }
    }
  }
}