.Tile-banner {
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;

  .full-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tile-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);

    .tile {
      background: rgba(0, 0, 0, 0.15);
      opacity: 1;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      // transform: scale(1.5);
      transform: scale(1.1);
      // border-radius: 50%;
    }
  }
}