// fonts
$agbalumno-font: 'Agbalumo', system-ui;
$playfair-display: 'Playfair Display', serif;

$heading-font: $playfair-display;

// wrap
$wrap: 1920px;
$wrap-padding: 2rem;

// screen breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
